click==8.1.7 ; python_version >= "3.8" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.13" and platform_system == "Windows"
pillow==10.1.0 ; python_version >= "3.8" and python_version < "3.13"
